@import full.sass
//@import grid.sass
$margin: 5vw
$flexboxitem_minwidth: 300px
@mixin flexbox
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-around
    padding: $margin
    .item
        min-height: 10px
        min-width: $flexboxitem_minwidth
        text-align: center
        font-family: 'Maven Pro', sans-serif
        padding: 10px
        margin: 1em
        flex-grow: 2
    .first
        min-width: 100%
        padding-top: 0.5em
        margin-top: 0
    h3
        text-transform: uppercase
        padding-top: 1em
        font-size: 50px
html body
    margin: 0 auto
    height: 100%
    font-family: 'Maven Pro', sans-serif
header
    margin: 0 auto
    height: 100vh
    background:
        image: url('../img/Background.png')
        size: cover
        repeat: no-repeat
        position: 50%
    nav ul
        display: flex
        margin: 0
        background-color: #15263e
        color: #ffffff
        justify-content: space-between
        padding: 2em
            left: $margin
            right: $margin
        li
            list-style: none
            padding: 0
            margin: 0
            a
                font:
                    size: 3em
                text:
                    transform: uppercase
                    decoration: none
                color: #ffffff
    .name
        color: white
        text-transform: capitalize
        text-align: center
        font-size: 2em
        .john
            width: 555.9px
            height: 149.4px
            display: block
            background:
                image: url('../img/john.png')
                repeat: no-repeat
                position: center bottom
                size: inherit
        h3
            font-size: 50px
            line-height: 5.65
            letter-spacing: 64px
        h4
            font-size: 25.3px
            line-height: 5.65
            letter-spacing: 1.9px
        button
            width: 214px
            height: 67px
            background-image: linear-gradient(41deg, #dbdbdb 27%, #290a59 27%, #a21af0 27%, #ff0072 73%)
            padding: 1em
            border: none
            font-size: 18px
            line-height: 1.2
            letter-spacing: 1.35px
            text-align: center
            color: #ffffff

main
    .about
        @include flexbox
        background-color: #ffffff
        background:
            image: url('../img/author.png')
            repeat: no-repeat
            position: center bottom
            size: contain
        .id
            width: 400px
            min-height: 300px
            text-align: right
            padding-right: 200px
            h2
                color: #15263e
                font-size: 50px
                letter-spacing: 3.75px
                line-height: 2.26
                margin-right: 0.5em
            h3
                color: #a21af0
                font-size: 25px
                letter-spacing: 1.5px
                text-transform: uppercase
                margin-right: 1em
            p
                width: 369px
                height: 344px
                font-size: 15px
                line-height: 2
                letter-spacing: 1.13px
                color: #494949
        .skills
            width: 400px
            height: auto
            flex-grow: 0.5
    .contact
        @include flexbox
        background-color: #dcdcde
        .item
            margin: 1em
            padding: 5em
            flex-grow: 2
    .services
        @include flexbox
        padding: 5em
        .item 
            width: 400px
            flex-grow: 2
            margin: 1em
            min-height: 150px
    .testimonial
        @include flexbox
        background:
            image: url('../img/mountain.png')
            size: cover
            repeat: no-repeat
            position: 50%
        color: #ffffff
        height: 70vh
        .quote
            width: 30em
            text-align: right
            line-height: 1.5em
        .babka
            width: 50%
    .portfolio
        @include flexbox
        .portfolioMenu
            min-height: 60vh
            flex-grow: 0.5
            li
                list-style: none
                text-align: left
                padding: 0.8em
                margin-left: 10em
                font-size: 22px
                color: #4d4d4d
                &:first-child
                    color: #a91aef
        .grid
            display: flex
            width: 700px
            flex-wrap: wrap
            flex: 2 1 auto
            justify-content: space-around
            height: 60vh
            .item
                margin: 10px
                width: 150px
                height: 100px
                background-color: yellow
    .experience
        @include flexbox
        background-image: linear-gradient(40deg, #dbdbdb 13%, #290a59 13%, #a21af0 13%, #ff0072 87%)
        .exp_item
            @include flexbox
            padding: 2em
            .work
                width: 250px
            .work_desc
                width: 50%
    .blog
        @include flexbox
        .blogitem
            width: 300px
            flex-grow: 2 2 0
            text-align: left
            font-size: 1.5em
            img
                max-width: 100%
                height: auto
            h5
                color: #929292
                text-transform: uppercase
                padding-left: 30px
                padding-right: 10px
            h6
                color: #000000
                padding-left: 30px
                padding-right: 10px
            p
                color: #494949
                padding-left: 30px
                padding-lefrightt: 10px

    .email
        @include flexbox
        min-height: 300px
        background:
            image: url('../img/map.png')
            repeat: no-repeat
            position: center bottom
        .board
            @include flexbox
            background-color: #15263e
            margin-top: 100px
            margin-bottom: 100px
            color: #ffffff
            .item
                width: 300px
                height: 100px
                margin: 10px
            .first
                width: 800px
                text-align: center
            .last
                width: 800px
                height: 100%
                button
                    border: none
                    color: #ffffff
                    font-size: 18px
                    text-transform: uppercase
                    width: 214px
                    height: 67px
                    background-image: linear-gradient(41deg, #dbdbdb 27%, #290a59 27%, #a21af0 27%, #ff0072 73%)
footer
    height: 80px
    padding-top: 3em
    font:
        family: AvantGardeCE
        weight: normal
        stretch: normal
        style: normal
        size: 20px
    text-align: center
    color: #494949

