header
    nav
        display: none
        a
            font-size: 30px
    .name
        height: 75vh
        background-position-x: 72%
        padding: 2em 1em
        h3
            letter-spacing: 40px
            padding-left: 15px
        h4
            text-align: center
        img
            max-height: 100px
main
    section
        padding: 0 2em
    .title
        h3
            font-size: 25px
            padding-left: 12px
    .about
        grid-template-columns: 1fr
        grid-template-rows: auto auto
        background-image: initial
        .id
            grid-column: 1
            grid-row: 1
            text-align: center
            margin: 0 auto
            padding: 1em
            p
                padding: 0
        .skills
            grid-column: 1
            grid-row: 2
            width: 100%
            margin: 0 auto
            background:
                image: url('../img/author.png')
                repeat: no-repeat
                position: center bottom
                size: auto 100%
    .contact
        padding: 1em
        margin: 0 auto
        flex-wrap: wrap
        .item
            min-width: 400px
            margin: 0 auto
    .services
        .wrapper
            margin: 0 auto
    .testimonial
        @media only screen and (max-width: 500px)
            grid-template-columns: 60% 40% 0
            grid-template-rows: auto auto auto
            justify-content: space-around
            .quote
                text-align: center
                grid-row: 2/4
                height: 100%
            .text
                grid-row: 3
                grid-column: 2
                display: flex
                flex-direction: column
                text-align: center
                justify-content: space-around
            .photo
                grid-column: 2
                grid-row: 2
                img
                    width: 100%
                    margin: 1em auto
    .portfolio
        padding: 1em
        grid-template-columns: auto 1fr
        grid-template-rows: auto auto auto
        .portfolioMenu
            grid-column: 1
            div
                margin: 0 auto
        .wrapper
            padding: 0
            grid-row: 3
            grid-column: 1
            .item
                margin: 0.5em auto
                width: 100%
    .experience
        .item
            padding: 1em
            .work
                margin: 0 auto
            .work_desc
                max-width: initial
                margin: 1em
    .blog
        .wrapper
            .item
                text-align: center
                padding: 0 1em
                margin: 0 auto
    section
        padding: 1em
        margin: 0 auto